<p>variables-in-templates works!</p>

<!-- Referencing templates in variables  -->

<p>
    @let name = "Joske";
    Name: {{name}}
    
    @if (name) {
        <p>User has a name indeed</p>
        <ul>
            @for (letter of name; track letter) {
                <p>Letter: {{letter}}</p>
            }
        </ul>
    } @else {
        <p>No, user does not have a name</p>
    }
    
    @let location = {lat: 123, lng: 456};
    Location: {{location.lat}},{{location.lng}}
</p>

<p>
    Here is how we can directly subscribe to an observable in the template!
    @let userSubbed = this.somethingAsync$ | async;
    This name was retrieved directly from an observable: {{userSubbed?.name}}
</p>

<!-- Template reference variables  -->

<p>Referenced input: </p>
<input #thisIsAnInputReference />

<!-- You can reference to the "thisIsAnInputReference" using @ViewChild() in your component -->
