<p>accessible works!</p>
<!-- 
    Building accessible web experience often involves setting Accessible Rich Internet Applications (ARIA) attributes to provide semantic meaning 
    where it might otherwise be missing. Use attribute binding template syntax to control the values of accessibility-related attributes.

    When binding to ARIA attributes in Angular, you must use the attr. prefix. 
    The ARIA specification depends specifically on HTML attributes rather than properties of DOM elements.
-->
<button [attr.aria-label]="buttonActionLabel">…</button>

<!-- 
    The Angular Material library, which is maintained by the Angular team, is a suite of reusable UI components that aims to be fully accessible. The Component Development Kit (CDK) includes the a11y package that provides tools to support various areas of accessibility. For example:
    LiveAnnouncer is used to announce messages for screen-reader users using an aria-live region. See the W3C documentation for more information on aria-live regions.

    The cdkTrapFocus directive traps Tab-key focus within an element. Use it to create accessible experience for components such as modal dialogs, where focus must be constrained.
-->