<p>Reactive form with validations (either via HTML or via formgroup itself)</p>

<input type="text" id="name" name="name" class="form-control" [formControl]="nameFormControl" />
@if(nameFormControl.invalid && (nameFormControl.dirty || nameFormControl.touched)) {
    <div class="alert">
        <div *ngIf="nameFormControl.hasError('required')">
            Name is required.
        </div>
        <div *ngIf="nameFormControl.hasError('minlength')">
            Name must be at least 4 characters long.
        </div>
        <div *ngIf="nameFormControl.hasError('pattern')">
            Name does not match pattern.
        </div>
    </div>
}
