.container {
    display: flex;
    padding: 16px;
    flex-wrap: wrap;
    
    border: 1px solid black;
    border-radius: 16px;
    background-color: lightgray;
}

.row {
    display: flex;
    flex-direction: row;
}



#display {
    display: flex;
    
    padding: 4px;
    background-color: white;

    justify-items: center;
    justify-items: center;
}

#displayText {
    font-weight: bold;
}