<div class="container">

    <div #display>
        <h3 #displayText>{{getReadableDisplay()}}</h3>
    </div>

    <div class="row">
    <div>
        <div class="row">
            <app-calculator-button value=1 (onPress)="onPressButton($event)" />
            <app-calculator-button value=2 (onPress)="onPressButton($event)" />
            <app-calculator-button value=3 (onPress)="onPressButton($event)" />
        </div>

        <div class="row">
            <app-calculator-button value=4 (onPress)="onPressButton($event)" />
            <app-calculator-button value=5 (onPress)="onPressButton($event)" />
            <app-calculator-button value=6 (onPress)="onPressButton($event)" />
        </div>

        <div class="row">
            <app-calculator-button value=7 (onPress)="onPressButton($event)" />
            <app-calculator-button value=8 (onPress)="onPressButton($event)" />
            <app-calculator-button value=9 (onPress)="onPressButton($event)" />
        </div>
            
        <div class="row">
            <div class="buttonFiller"></div>
            <app-calculator-button value=0 (onPress)="onPressButton($event)" />
            <div class="buttonFiller"></div>
        </div>
    </div>

    <div>
        <app-calculator-button value="*" (onPress)="onPressButton($event)" [isOperator]=true [disabled]="isOperatorDisabled" />
        <app-calculator-button value="+" (onPress)="onPressButton($event)" [isOperator]=true [disabled]="isOperatorDisabled" />
        <app-calculator-button value="-" (onPress)="onPressButton($event)" [isOperator]=true [disabled]="isOperatorDisabled" />
        <app-calculator-button value="/" (onPress)="onPressButton($event)" [isOperator]=true [disabled]="isOperatorDisabled" />
        <app-calculator-button value="=" (onPress)="onPressButton($event)" [isOperator]=true [disabled]="isOperatorDisabled" />
        <app-calculator-button value="CLEAR" (onPress)="onPressButton($event)" [isOperator]=true [disabled]="isOperatorDisabled" />
    </div>
    </div>

</div>
