.container {
    display: flex;
    flex: 1;
    padding: 16px;
    flex-direction: column;
    
    border: 1px solid black;
    border-radius: 16px;
    background-color: lightgray;
}

.row {
    display: flex;
    flex-direction: row;
}

.buttonFiller {
    min-width: 100px;
    height: 60px;
}


#display {
    display: flex;
    
    padding: 4px;
    background-color: white;

    justify-items: center;
    align-items: center;
}

#displayText {
    font-weight: bold;
}