<main class="main">
  <div class="content">
    <nav>
      <ul>
        <li>
          <a
            routerLink="/first-page/someId?queryParam=123"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >First page</a
          >
        </li>
        <li>
          <a
            routerLink="/second-page"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Second page</a
          >
        </li>
      </ul>
    </nav>

    <p>------ Router outlet ------</p>

    <!-- The routed views render in the <router-outlet> ! -->
    <router-outlet />

    <p>------ End of router outlet ------</p>
  </div>
</main>
