<main class="main">
  <div class="content">
    <app-input-output [name]="someName" [lastName]="someLastName" (onSubmitEvent)="onReceiveDidSubmitEvent($event)" />
    <app-divider />
    
    <app-control-flows />
    <app-divider />
    
    <app-deferrable />
    <app-divider />
    
    <app-optimized-image />
    <app-divider />

    <app-template-form />
    <app-divider />

    <app-reactive-form />
    <app-divider />

    <app-pipe-usage />
    <app-divider />
  </div>
</main>

<router-outlet />
