<main class="main">
  <div class="content">
    <app-input-output [name]="someName" [lastName]="someLastName" (onSubmitEvent)="onReceiveDidSubmitEvent($event)" />
    <app-divider />
    
    <app-control-flows />
    <app-divider />
    
    <app-deferrable />
    <app-divider />
    
    <app-optimized-image />
    <app-divider />

    <app-template-form />
    <app-divider />

    <app-reactive-form />
    <app-divider />

    <app-pipe-usage />
    <app-divider />

    <app-responsive-item />
    <app-divider />

    <app-signal />
    <app-divider />

    <app-attribute />
    <app-divider />

    <app-using-ng-content>
      <p>This paragraph is passed via the parent to the component using ng-content! (Like children: React.ReactNode in React!)</p>
    </app-using-ng-content>
    <app-divider />


  </div>
</main>

<router-outlet />
