.label {
  font-weight: bold;
  min-width: 150px;
}

.row {
  display: flex;
  flex-direction: row;
}

.button-container-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
