
button {
    display: flex;
    flex: 1;
    min-width: 100px;
    height: 60px;
    
    justify-content: center;
    align-items: center;
    background-color: darkgray;
}

.orangeBorder {
    border: 1px solid orange;
}

p {
    font-weight: bold;
}