.breedButton {
  display: flex;
  border-radius: 12;
  border: 1px solid black;
  margin: 12px;

  min-width: 200px;
  align-items: center;
  justify-content: center;
}

.breedContainer {
  display: flex;
  flex-wrap: wrap;
}
